<div class="container mt-4">
  <h2 class="text-center">Manage Customers</h2>

  <!-- Go Back Button -->
  <button class="btn btn-secondary mb-3" (click)="goBack()">Back to  Dashboard</button>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Customer ID</th>
          <th>Username</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Gender</th>
          <th>Address</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.id }}</td>
          <td>{{ customer.username }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.mobile }}</td>
          <td>{{ customer.gender }}</td>
          <td>{{ customer.address }}</td>
          <td>{{ customer.roles[0]?.name }}</td>
          <td>
            <button class="btn btn-info" (click)="viewCustomerDetails(customer)">View</button>
            <button class="btn btn-warning" (click)="openEditCustomerModal(customer)">Edit</button>
            <button class="btn btn-danger" (click)="deleteCustomer(customer.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
