<div class="container mt-4">
    <h2 class="text-center">Bills Management</h2>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Bill ID</th>
            <th>Amount</th>
            <th>Bill Type</th>
            <th>Status</th>
            <th>Description</th>
            <th>User</th>
            <th>Due Date</th>
            <th>Created At</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bill of bills">
            <td>{{ bill.billId }}</td>
            <td>{{ bill.amount }}</td>
            <td>{{ bill.billType }}</td>
            <td>{{ bill.billStatus }}</td>
            <td>{{ bill.description }}</td>
            <td>{{ bill.user.username }}</td>
            <td>{{ bill.due_date | date: 'medium' }}</td>
            <td>{{ bill.created_at | date: 'medium' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  